{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Ofertas de Trabajo</h1>
    <div>
      <a
        href="{{ url_for('new_job') }}"
        class="btn btn-primary px-4 py-2 rounded-pill me-2"
      >
        Publicar Nuevo Empleo
      </a>
      <a
        href="{{ url_for('conversations') }}"
        class="btn btn-info px-4 py-2 rounded-pill"
      >
        Mis Conversaciones
      </a>
    </div>
  </div>

  {% if jobs %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for job in jobs %}
    <div class="col">
      <div class="card shadow-sm h-100 bg-gradient bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ job.title }}</h5>
          <p class="card-text text-muted small">
            <strong>Lugar:</strong> {{ job.locationn }}<br />
            <strong>Fecha:</strong> {{ job.exact_date }}<br />
            <strong>Hora:</strong> De {{ job.start_time }} a {{ job.end_time }}
          </p>
          <p class="card-text">
            {{ job.description[:100] }}{% if job.description|length > 100
            %}...{% endif %}
          </p>
        </div>
        <div
          class="card-footer bg-transparent d-flex justify-content-between align-items-center"
        >
          <div>
            <span
              class="badge {{ 'bg-danger' if job.urgent else 'bg-secondary' }}"
            >
              {{ 'Urgente' if job.urgent else 'No Urgente' }}
            </span>
            <small class="text-muted ms-2">
              Publicado por {{ job.username }} (Tel: {{ job.phone_number }})
            </small>
          </div>
          {% if job.user_id != current_user.id %}
          <a
            href="{{ url_for('chat', user_id=job.user_id) }}"
            class="btn btn-outline-light btn-sm rounded-pill"
          >
            Chat
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="alert alert-warning text-center">
    No hay ofertas de trabajo disponibles actualmente.
  </div>
  {% endif %}
</div>
{% endblock %}
