{% extends "base.html" %} {% block title %}Publicar Nuevo Empleo{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4 text-white">Publicar Nuevo Empleo</h1>
  <div class=" p-4 rounded shadow-lg">
    <form method="POST">
      <div class="row">
        <!-- Título y Descripción en el mismo nivel -->
        <div class="col-12 col-md-6 mb-4">
          <div class="form-group">
            <label for="title" class="text-white">Título del Trabajo</label>
            <input
              type="text"
              class="form-control form-control-lg"
              name="title"
              id="title"
              placeholder="Título del Trabajo"
              required
            />
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
          <div class="form-group">
            <label for="description" class="text-white"
              >Descripción del Trabajo</label
            >
            <textarea
              class="form-control form-control-lg"
              name="description"
              id="description"
              placeholder="Descripción del Trabajo"
              rows="4"
              required
            ></textarea>
          </div>
        </div>

        <!-- Lugar -->
        <div class="col-12 col-md-6 mb-4">
          <div class="form-group">
            <label for="locationn" class="text-white">Lugar</label>
            <input
              type="text"
              class="form-control form-control-lg"
              name="locationn"
              id="locationn"
              placeholder="Lugar"
              required
            />
          </div>
        </div>

        <!-- Fecha Exacta -->
        <div class="col-12 col-md-6 mb-4">
          <div class="form-group">
            <label for="exact_date" class="text-white">Fecha Exacta</label>
            <input
              type="date"
              class="form-control form-control-lg"
              name="exact_date"
              id="exact_date"
              required
            />
          </div>
        </div>

        <!-- Hora de Inicio -->
        <div class="col-12 col-md-6 mb-4">
          <div class="form-group">
            <label for="start_time" class="text-white">Hora de Inicio</label>
            <input
              type="time"
              class="form-control form-control-lg"
              name="start_time"
              id="start_time"
              required
            />
          </div>
        </div>

        <!-- Hora de Finalización -->
        <div class="col-12 col-md-6 mb-4">
          <div class="form-group">
            <label for="end_time" class="text-white"
              >Hora de Finalización</label
            >
            <input
              type="time"
              class="form-control form-control-lg"
              name="end_time"
              id="end_time"
              required
            />
          </div>
        </div>

        <!-- Número de Contacto -->
        <div class="col-12 col-md-6 mb-4">
          <div class="form-group">
            <label for="contact_number" class="text-white"
              >Número de Contacto</label
            >
            <input
              type="text"
              class="form-control form-control-lg"
              name="contact_number"
              id="contact_number"
              placeholder="Número de Contacto"
              required
            />
          </div>
        </div>

        <!-- Precio -->
        <div class="col-12 col-md-6 mb-4">
          <div class="form-group">
            <label for="price" class="text-white">Precio</label>
            <input
              type="number"
              step="0.01"
              class="form-control form-control-lg"
              name="price"
              id="price"
              placeholder="Precio por trabajo"
              required
            />
          </div>
        </div>

        <!-- ¿Es Urgente? -->
        <div class="col-12 col-md-6 mb-4">
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="urgent"
              id="urgent"
            />
            <label class="form-check-label text-white" for="urgent"
              >¿Es Urgente?</label
            >
          </div>
        </div>
      </div>

      <!-- Botón de Publicar Empleo -->
      <button type="submit" class="btn btn-primary btn-lg w-100 py-3">
        Publicar Empleo
      </button>
    </form>
  </div>
</div>
{% endblock %}
