{% extends "base.html" %} {% block title %}Registrar Cuenta{% endblock %} {%
block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row w-100">
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card shadow-lg rounded-lg">
        <div class="card-body p-4">
          <h3 class="text-center text-white mb-4">Crear una Cuenta</h3>
          <form method="POST" aria-labelledby="registerForm">
            <div class="form-group mb-3">
              <label for="username" class="form-label">Nombre de Usuario</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Nombre de Usuario"
                required
                aria-describedby="usernameHelp"
              />
              <small id="usernameHelp" class="form-text text-muted"
                >Este será el nombre con el que iniciarás sesión.</small
              >
            </div>

            <div class="form-group mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Correo Electrónico"
                required
                aria-describedby="emailHelp"
              />
              <small id="emailHelp" class="form-text text-muted"
                >Te enviaremos notificaciones a este correo.</small
              >
            </div>

            <div class="form-group mb-4">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Contraseña"
                required
                aria-describedby="passwordHelp"
              />
              <small id="passwordHelp" class="form-text text-muted"
                >Debe tener al menos 8 caracteres.</small
              >
            </div>

            <button type="submit" class="btn btn-primary btn-block w-100">
              Registrar
            </button>

            <!-- Enlace para redirigir a la página de inicio de sesión -->
            <p class="text-center mt-3">
              ¿Ya tienes cuenta?
              <a href="{{ url_for('login') }}" class="hover-primary"
                >Inicia sesión aquí</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
